.emm_nav{
    color: #A6D0E4 !important;
}

.emm_photo{
    height: 400px !important;
    width: auto !important;
    margin: 0 auto !important; 
}

.loading_emm{
	width: 100%;
	display: flex;
 	justify-content: center;
    align-items: center;
	height: 50x;
	gap: 6px;	
}

.loading_emm span{
	width: 10px;
	height: 30px;
	background: #FFEFE3;
	animation: scale 0.9s ease-in-out infinite;
	border-radius: 20px;
}

.loading_emm span:nth-child(2){
	background: #99C2FF;
	animation-delay: -0.8s;
}

.loading_emm span:nth-child(3){
	background: #FFDF82;
	animation-delay: -0.7s;
}

.loading_emm span:nth-child(4){
	background: #FF84BA;
	animation-delay: -0.6s;
}

.loading_emm span:nth-child(5){
	background: #FFEFE3;
	animation-delay: -0.5s;
}

@keyframes scale{
	0%, 40%, 100%{
		transform: scaleY(0.05)
	}
	20%{
		transform: scaleY(1)
	}
}